div.container{
			margin:auto;
			width:400px;
			padding:2px;
			border:1px solid black;}
		div.item{
			border:1px solid grey;
			height:25px;
			margin:2px;}
			
		div.item_cont{
			display:none;
			height:200px;}
		#open_one{
			display:block;}